# Format Style Options - Created with Clang Power Tools
---
Language: Cpp
BasedOnStyle: LLVM
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None
BinPackParameters: false
...
