# Format Style Options - Created with Clang Power Tools
---
Language: Cpp
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BinPackParameters: false
...
